# Test directories
test-ci/
ci-test/

# baks
bin.bak

# Temporary files
*.tmp
*.log

# Build artifacts
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Customisation
./themes/*/backgrounds/
fix-shebangs.sh
